@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar hiding utility */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media print {
  body * {
    visibility: hidden;
  }
  #proposal-print-area, #proposal-print-area * {
    visibility: visible;
  }
  #proposal-print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
    background: white !important;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}